{% if page.breadcrumbs %}
        {{ page.breadcrumbs }}
{% endif %}

<header role="banner" class="header">
  <div class="layout-container">
      {{ page.header }}
  </div>
</header>

{% if page.main_navigation %}
        {{ page.main_navigation }}
{% endif %}
